<h1>Angular MultiThread Lib</h1>

<table>
  <thead>
  <tr>
    <th>Nº</th>
    <th>State</th>
    <th>Job</th>
    <th>Error</th>
  </tr>
  </thead>
  <tbody *ngIf="workersStates | async as states">
  <tr *ngFor="let state of states; let i = index">
    <td class="number">{{i}}</td>
    <td class="state">{{ state.state }} {{setStateIcon(state.state)}}</td>
    <td class="job">
      <ul *ngIf="state.job as job">
        <li>ID:{{ job.id }} </li>
        <li>Key:{{ job.key }}</li>
        <li><span *ngIf="job.params; else NoNe">{{job.params |json}}</span></li>
      </ul>
    </td>
    <td class="error">{{state.error || 'none' }}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5">stack ({{stack.length}})</td>
  </tr>
  </tfoot>
</table>

<ng-template #NoNe>
  <span>none</span>
</ng-template>
